In [ ]:
import pandas as pd
import numpy as np 
from scipy.stats import spearmanr
from scipy.stats import pearsonr
from scipy.stats import kendalltau

In [ ]:
data = pd.read_csv('/content/table_MEL_NV_1.csv')
data = data.drop(columns = ['Unnamed: 0'])
data.head(5)

,1rbg_full_Q5,1rbg_full_Q10,1rbg_full_Q15,1rbg_full_Q20,1rbg_full_Q25,1rbg_full_Q30,1rbg_full_Q35,1rbg_full_Q40,1rbg_full_Q45,1rbg_full_Q50,...,5sobel_8u_b_Q75,5sobel_8u_b_Q80,5sobel_8u_b_Q85,5sobel_8u_b_Q90,5sobel_8u_b_Q95,5sobel_8u_b_min,5sobel_8u_b_mean,5sobel_8u_b_max,5sobel_8u_b_std,target
0,31.0,38.0,51.0,98.0,177.0,205.0,212.0,216.0,219.0,220.0,...,147.0,163.0,181.0,202.0,226.0,0.0,95.858911,255.0,69.414988,1.0
1,64.0,89.0,108.0,124.0,136.0,144.0,149.0,153.0,156.0,158.0,...,149.0,166.0,184.0,205.0,229.0,0.0,97.338844,255.0,69.859391,1.0
2,93.0,111.0,123.0,134.0,142.0,146.0,149.0,152.0,154.0,157.0,...,95.0,108.0,124.0,146.0,180.0,0.0,65.798120,255.0,55.049045,1.0
3,27.0,33.0,40.0,49.0,63.0,82.0,120.0,177.0,204.0,212.0,...,152.0,169.0,187.0,207.0,230.0,0.0,99.729137,255.0,70.245519,1.0
4,94.0,106.0,113.0,120.0,125.0,131.0,138.0,145.0,151.0,155.0,...,163.0,179.0,195.0,213.0,232.0,0.0,106.723715,255.0,71.271383,1.0

In [ ]:
data.describe()

In [ ]:
std_zero_columns = []
for i, column in enumerate(data.columns):
  if data[column].std() == 0:
    std_zero_columns.append(column)
data_std = data.drop(columns=std_zero_columns)
data_std.head(5)

,1rbg_full_Q5,1rbg_full_Q10,1rbg_full_Q15,1rbg_full_Q20,1rbg_full_Q25,1rbg_full_Q30,1rbg_full_Q35,1rbg_full_Q40,1rbg_full_Q45,1rbg_full_Q50,...,5sobel_8u_b_Q65,5sobel_8u_b_Q70,5sobel_8u_b_Q75,5sobel_8u_b_Q80,5sobel_8u_b_Q85,5sobel_8u_b_Q90,5sobel_8u_b_Q95,5sobel_8u_b_mean,5sobel_8u_b_std,target
0,31.0,38.0,51.0,98.0,177.0,205.0,212.0,216.0,219.0,220.0,...,119.0,132.0,147.0,163.0,181.0,202.0,226.0,95.858911,69.414988,1.0
1,64.0,89.0,108.0,124.0,136.0,144.0,149.0,153.0,156.0,158.0,...,119.0,134.0,149.0,166.0,184.0,205.0,229.0,97.338844,69.859391,1.0
2,93.0,111.0,123.0,134.0,142.0,146.0,149.0,152.0,154.0,157.0,...,75.0,84.0,95.0,108.0,124.0,146.0,180.0,65.798120,55.049045,1.0
3,27.0,33.0,40.0,49.0,63.0,82.0,120.0,177.0,204.0,212.0,...,124.0,137.0,152.0,169.0,187.0,207.0,230.0,99.729137,70.245519,1.0
4,94.0,106.0,113.0,120.0,125.0,131.0,138.0,145.0,151.0,155.0,...,136.0,149.0,163.0,179.0,195.0,213.0,232.0,106.723715,71.271383,1.0

In [ ]:
df_spearmanr = pd.DataFrame(columns = ['rho', 'p'])
df_spearmanr
for i, column in enumerate(data_std.columns):
  df_spearmanr.loc[len(df_spearmanr)] = spearmanr(data[column], data['target'])

In [ ]:
df_spearmanr.head(3)

        rho         p
0  0.093052  0.547992
1  0.099213  0.521689
2 -0.105433  0.495790

In [ ]:
df_spearmanr[df_spearmanr['rho'] > 0.35]

           rho         p
885   0.377964  0.011420
887   0.377964  0.011420
1896  0.357543  0.017184
1919  0.489813  0.000739
3446  0.371786  0.012957
3540  1.000000  0.000000

In [ ]:
df_spearmanr[df_spearmanr['rho'] < -0.4]

           rho         p
5    -0.401142  0.006962
6    -0.436633  0.003044
708  -0.446759  0.002365
709  -0.465653  0.001446
710  -0.424322  0.004097
755  -0.411611  0.005504
800  -0.426060  0.003931
801  -0.401312  0.006936
802  -0.411495  0.005519
2848 -0.413446  0.005278
2849 -0.419722  0.004565
2916 -0.421701  0.004358
2917 -0.409326  0.005797
2918 -0.405349  0.006340

In [ ]:
df_pearsonr = pd.DataFrame(columns = ['r', 'p'])
df_pearsonr
for i, column in enumerate(data_std.columns):
  df_pearsonr.loc[len(df_pearsonr)] = pearsonr(data[column], data['target'])

In [ ]:
df_pearsonr.head(3)

          r         p
0  0.077417  0.617430
1  0.001534  0.992116
2 -0.132768  0.390261

In [ ]:
df_pearsonr[df_pearsonr['r'] > 0.35]

             r         p
885   0.377964  0.011420
887   0.377964  0.011420
1533  0.386491  0.009557
1554  0.374865  0.012170
1576  0.357645  0.017150
1597  0.366597  0.014381
1896  0.407112  0.006095
1919  0.503180  0.000499
1942  0.363224  0.015376
3122  0.351939  0.019140
3446  0.399035  0.007293
3447  0.388544  0.009150
3448  0.351739  0.019213
3540  1.000000  0.000000

In [ ]:
df_pearsonr[df_pearsonr['r'] < -0.4]

             r         p
2845 -0.408090  0.005962
2846 -0.427188  0.003827
2847 -0.440562  0.002763
2848 -0.447044  0.002348
2849 -0.438464  0.002910
2891 -0.401042  0.006978
2892 -0.419023  0.004640
2893 -0.421751  0.004353
2894 -0.419088  0.004633
2937 -0.408183  0.005949
2938 -0.423379  0.004189
2939 -0.421906  0.004337
2940 -0.418596  0.004686

In [ ]:
df_kendalltau = pd.DataFrame(columns = ['k', 'p'])
df_kendalltau
for i, column in enumerate(data_std.columns):
  df_kendalltau.loc[len(df_kendalltau)] = kendalltau(data[column], data['target'])

In [ ]:
df_kendalltau.head(3)

          k         p
0  0.077325  0.541742
1  0.082085  0.515315
2 -0.087401  0.489335

In [ ]:
df_kendalltau[df_kendalltau['k'] > 0.35]

             k             p
885   0.377964  1.319440e-02
887   0.377964  1.319440e-02
1919  0.404650  1.318511e-03
3540  1.000000  5.473986e-11

In [ ]:
df_kendalltau[df_kendalltau['k'] < -0.35]

             k         p
6    -0.364723  0.004194
708  -0.371957  0.003394
709  -0.389557  0.002262
710  -0.355511  0.005395
800  -0.354546  0.005208
1991 -0.351341  0.014172