In [ ]:
import pandas as pd
data_half = pd.read_csv('/content/predict_models_half.csv')
data_all = pd.read_csv('/content/predict_models_all.csv')

In [ ]:
data_half

,Unnamed: 0,target,SVM_half,SVM_half_smote,KNN_half,KNN_half_smote,DT_half,DT_half_smote,RF_half,RF_half_smote
0,3107,1,1,1,1,1,1,1,1,1
1,900,0,0,4,4,4,2,4,4,4
2,6724,0,0,0,0,0,1,0,0,0
3,4704,2,1,1,1,1,2,1,1,2
4,2582,1,1,1,1,2,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
2815,6522,1,1,4,0,0,2,4,1,4
2816,3952,1,1,1,1,1,1,1,1,1
2817,10782,4,0,4,4,4,4,4,4,4
2818,8171,0,0,0,0,0,0,0,0,0
2819,11535,4,2,4,1,4,1,2,1,4

In [ ]:
data_all

,Unnamed: 0,target,SVM_all,SVM_all_smote,KNN_all,KNN_all_smote,DT_all,DT_all_smote,RF_all,RF_all_smote
0,5062,1,1,1,1,1,1,1,1,1
1,8704,1,0,3,1,3,3,0,2,3
2,7204,2,2,2,2,2,4,2,2,2
3,4265,1,1,1,1,0,1,1,1,0
4,6605,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
2899,8076,1,1,5,1,1,0,4,1,4
2900,11503,7,1,7,1,7,1,7,1,7
2901,9058,1,0,1,1,0,1,0,1,1
2902,1702,1,4,2,1,2,1,1,1,1
2903,7464,1,0,0,0,0,0,1,0,0

In [ ]:
data_half = data_half.drop(['Unnamed: 0'], axis=1)
data_all = data_all.drop(['Unnamed: 0'], axis=1)

In [ ]:
data_half

,target,SVM_half,SVM_half_smote,KNN_half,KNN_half_smote,DT_half,DT_half_smote,RF_half,RF_half_smote
0,1,1,1,1,1,1,1,1,1
1,0,0,4,4,4,2,4,4,4
2,0,0,0,0,0,1,0,0,0
3,2,1,1,1,1,2,1,1,2
4,1,1,1,1,2,1,1,1,1
...,...,...,...,...,...,...,...,...,...
2815,1,1,4,0,0,2,4,1,4
2816,1,1,1,1,1,1,1,1,1
2817,4,0,4,4,4,4,4,4,4
2818,0,0,0,0,0,0,0,0,0
2819,4,2,4,1,4,1,2,1,4

In [ ]:
data_all

,target,SVM_all,SVM_all_smote,KNN_all,KNN_all_smote,DT_all,DT_all_smote,RF_all,RF_all_smote
0,1,1,1,1,1,1,1,1,1
1,1,0,3,1,3,3,0,2,3
2,2,2,2,2,2,4,2,2,2
3,1,1,1,1,0,1,1,1,0
4,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...
2899,1,1,5,1,1,0,4,1,4
2900,7,1,7,1,7,1,7,1,7
2901,1,0,1,1,0,1,0,1,1
2902,1,4,2,1,2,1,1,1,1
2903,1,0,0,0,0,0,1,0,0

In [ ]:
def check_intersect_in_predict_models(data):
  all_rows = set()
  for row in data.drop(['target'], axis=1).columns:
    all_rows = all_rows.union(set(data[data['target'] == data[row]].index))
  return all_rows

In [ ]:
print(len(check_intersect_in_predict_models(data_half)), len(check_intersect_in_predict_models(data_all)))

2680 2721

In [ ]:
import numpy as np
def frequency_analysis(data):
  result_df = pd.DataFrame()
  for lesion_class in data['target'].unique():
    res = []
    for row in data[data['target'] == lesion_class].drop(['target'], axis=1).values:
      res.append((row == lesion_class).sum())
    result_df[f'{lesion_class}'] = pd.Series(res)
  return result_df
frequence_dataset_all = frequency_analysis(data_all)
frequence_dataset_half = frequency_analysis(data_half)

In [ ]:
frequence_dataset_all

      1    2    0    4    5    3    6    7
0     8  7.0  5.0  1.0  1.0  2.0  0.0  5.0
1     1  5.0  5.0  3.0  2.0  5.0  0.0  5.0
2     6  4.0  2.0  0.0  0.0  2.0  0.0  7.0
3     6  7.0  5.0  0.0  4.0  3.0  0.0  0.0
4     4  2.0  8.0  4.0  0.0  0.0  0.0  0.0
...  ..  ...  ...  ...  ...  ...  ...  ...
1822  8  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1823  4  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1824  5  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1825  5  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1826  1  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[1827 rows x 8 columns]

In [ ]:
frequence_dataset_half

      1    0    2    4
0     8  1.0  2.0  0.0
1     7  7.0  7.0  1.0
2     6  3.0  2.0  7.0
3     7  2.0  6.0  6.0
4     8  6.0  7.0  2.0
...  ..  ...  ...  ...
1779  6  NaN  NaN  NaN
1780  5  NaN  NaN  NaN
1781  8  NaN  NaN  NaN
1782  2  NaN  NaN  NaN
1783  8  NaN  NaN  NaN

[1784 rows x 4 columns]

In [ ]:
def counts_prediction(dataset):
  df = pd.DataFrame(columns=['0', '1', '2', '3', '4', '5', '6', '7'])
  for index, i in enumerate(dataset.drop(['target'], axis=1).values):
    df.loc[index] = [(i == 0).sum(), (i == 1).sum(), (i == 2).sum(), (i == 3).sum(), (i == 4).sum(), (i == 5).sum(), (i == 6).sum(), (i == 7).sum()]
  df['target'] = dataset['target']
  return df
df_check = counts_prediction(data_all)

In [ ]:
df_check

      0  1  2  3  4  5  6  7  target
0     0  8  0  0  0  0  0  0       1
1     2  1  1  4  0  0  0  0       1
2     0  0  7  0  1  0  0  0       2
3     2  6  0  0  0  0  0  0       1
4     5  3  0  0  0  0  0  0       0
...  .. .. .. .. .. .. .. ..     ...
2899  1  4  0  0  2  1  0  0       1
2900  0  4  0  0  0  0  0  4       7
2901  3  5  0  0  0  0  0  0       1
2902  0  5  2  0  1  0  0  0       1
2903  7  1  0  0  0  0  0  0       1

[2904 rows x 9 columns]

In [ ]:
for i in range(8):
  a = df_check[(df_check['target'] == i)]
  b = df_check[(df_check['target'] != i)]
  print(f'количество поражений {i} класса:', len(a))
  print(f'количество ложно нераспознанных поражений {i} класса: ', len(a[a[str(i)] == 0]))
  print(f'количество верно нераспознанных поражений {i} класса: ', len(b[b[str(i)] == 0]))
  res_tp = []
  res_fp = []
  for j in range(1, 9):
    count_tp = len(a[a[str(i)] == j])
    count_fp = len(b[b[str(i)] == j])
    print(f'количество верно распознанных поражений {j} моделями: ', count_tp)
    print(f'количество ложно распознанных поражений {j} моделями: ', count_fp)
    res_tp.append(count_tp)
    res_fp.append(count_fp)
  for k in range(0, len(res_tp)):
    sum_tp = 0
    sum_fp = 0
    for l in range(k, 8):
      sum_tp += res_tp[l]
      sum_fp += res_fp[l]
    if sum_tp + sum_fp == 0:
      print('нет распознанных поражений')
    else:
      print(f'количество верно распознанных поражений: {sum_tp}, количество ложно распознанных {sum_fp}, для {k+1} и большего числа моделей')
      print(f'отношение количества верно распознанных поражений к распознанным пораежниям, для {k + 1} и большего числа моделей: ', f'{(sum_tp / (sum_tp + sum_fp)):.2f}')
  print('\n')

количество поражений 0 класса: 574
количество ложно нераспознанных поражений 0 класса:  66
количество верно нераспознанных поражений 0 класса:  1083
количество верно распознанных поражений 1 моделями:  89
количество ложно распознанных поражений 1 моделями:  550
количество верно распознанных поражений 2 моделями:  74
количество ложно распознанных поражений 2 моделями:  318
количество верно распознанных поражений 3 моделями:  90
количество ложно распознанных поражений 3 моделями:  177
количество верно распознанных поражений 4 моделями:  72
количество ложно распознанных поражений 4 моделями:  96
количество верно распознанных поражений 5 моделями:  67
количество ложно распознанных поражений 5 моделями:  67
количество верно распознанных поражений 6 моделями:  39
количество ложно распознанных поражений 6 моделями:  25
количество верно распознанных поражений 7 моделями:  43
количество ложно распознанных поражений 7 моделями:  11
количество верно распознанных поражений 8 моделями:  34
количество ложно распознанных поражений 8 моделями:  3
количество верно распознанных поражений: 508, количество ложно распознанных 1247
отношение количества верно распознанных поражений к распознанным пораежниям, для 1 и большего числа моделей:  0.29
количество верно распознанных поражений: 419, количество ложно распознанных 697
отношение количества верно распознанных поражений к распознанным пораежниям, для 2 и большего числа моделей:  0.38
количество верно распознанных поражений: 345, количество ложно распознанных 379
отношение количества верно распознанных поражений к распознанным пораежниям, для 3 и большего числа моделей:  0.48
количество верно распознанных поражений: 255, количество ложно распознанных 202
отношение количества верно распознанных поражений к распознанным пораежниям, для 4 и большего числа моделей:  0.56
количество верно распознанных поражений: 183, количество ложно распознанных 106
отношение количества верно распознанных поражений к распознанным пораежниям, для 5 и большего числа моделей:  0.63
количество верно распознанных поражений: 116, количество ложно распознанных 39
отношение количества верно распознанных поражений к распознанным пораежниям, для 6 и большего числа моделей:  0.75
количество верно распознанных поражений: 77, количество ложно распознанных 14
отношение количества верно распознанных поражений к распознанным пораежниям, для 7 и большего числа моделей:  0.85
количество верно распознанных поражений: 34, количество ложно распознанных 3
отношение количества верно распознанных поражений к распознанным пораежниям, для 8 и большего числа моделей:  0.92


количество поражений 1 класса: 1827
количество ложно нераспознанных поражений 1 класса:  29
количество верно нераспознанных поражений 1 класса:  256
количество верно распознанных поражений 1 моделями:  64
количество ложно распознанных поражений 1 моделями:  231
количество верно распознанных поражений 2 моделями:  110
количество ложно распознанных поражений 2 моделями:  172
количество верно распознанных поражений 3 моделями:  165
количество ложно распознанных поражений 3 моделями:  122
количество верно распознанных поражений 4 моделями:  218
количество ложно распознанных поражений 4 моделями:  122
количество верно распознанных поражений 5 моделями:  280
количество ложно распознанных поражений 5 моделями:  82
количество верно распознанных поражений 6 моделями:  291
количество ложно распознанных поражений 6 моделями:  57
количество верно распознанных поражений 7 моделями:  313
количество ложно распознанных поражений 7 моделями:  25
количество верно распознанных поражений 8 моделями:  357
количество ложно распознанных поражений 8 моделями:  10
количество верно распознанных поражений: 1798, количество ложно распознанных 821
отношение количества верно распознанных поражений к распознанным пораежниям, для 1 и большего числа моделей:  0.69
количество верно распознанных поражений: 1734, количество ложно распознанных 590
отношение количества верно распознанных поражений к распознанным пораежниям, для 2 и большего числа моделей:  0.75
количество верно распознанных поражений: 1624, количество ложно распознанных 418
отношение количества верно распознанных поражений к распознанным пораежниям, для 3 и большего числа моделей:  0.80
количество верно распознанных поражений: 1459, количество ложно распознанных 296
отношение количества верно распознанных поражений к распознанным пораежниям, для 4 и большего числа моделей:  0.83
количество верно распознанных поражений: 1241, количество ложно распознанных 174
отношение количества верно распознанных поражений к распознанным пораежниям, для 5 и большего числа моделей:  0.88
количество верно распознанных поражений: 961, количество ложно распознанных 92
отношение количества верно распознанных поражений к распознанным пораежниям, для 6 и большего числа моделей:  0.91
количество верно распознанных поражений: 670, количество ложно распознанных 35
отношение количества верно распознанных поражений к распознанным пораежниям, для 7 и большего числа моделей:  0.95
количество верно распознанных поражений: 357, количество ложно распознанных 10
отношение количества верно распознанных поражений к распознанным пораежниям, для 8 и большего числа моделей:  0.97


количество поражений 2 класса: 302
количество ложно нераспознанных поражений 2 класса:  21
количество верно нераспознанных поражений 2 класса:  1896
количество верно распознанных поражений 1 моделями:  25
количество ложно распознанных поражений 1 моделями:  362
количество верно распознанных поражений 2 моделями:  42
количество ложно распознанных поражений 2 моделями:  170
количество верно распознанных поражений 3 моделями:  41
количество ложно распознанных поражений 3 моделями:  71
количество верно распознанных поражений 4 моделями:  49
количество ложно распознанных поражений 4 моделями:  52
количество верно распознанных поражений 5 моделями:  33
количество ложно распознанных поражений 5 моделями:  27
количество верно распознанных поражений 6 моделями:  48
количество ложно распознанных поражений 6 моделями:  18
количество верно распознанных поражений 7 моделями:  31
количество ложно распознанных поражений 7 моделями:  4
количество верно распознанных поражений 8 моделями:  12
количество ложно распознанных поражений 8 моделями:  2
количество верно распознанных поражений: 281, количество ложно распознанных 706
отношение количества верно распознанных поражений к распознанным пораежниям, для 1 и большего числа моделей:  0.28
количество верно распознанных поражений: 256, количество ложно распознанных 344
отношение количества верно распознанных поражений к распознанным пораежниям, для 2 и большего числа моделей:  0.43
количество верно распознанных поражений: 214, количество ложно распознанных 174
отношение количества верно распознанных поражений к распознанным пораежниям, для 3 и большего числа моделей:  0.55
количество верно распознанных поражений: 173, количество ложно распознанных 103
отношение количества верно распознанных поражений к распознанным пораежниям, для 4 и большего числа моделей:  0.63
количество верно распознанных поражений: 124, количество ложно распознанных 51
отношение количества верно распознанных поражений к распознанным пораежниям, для 5 и большего числа моделей:  0.71
количество верно распознанных поражений: 91, количество ложно распознанных 24
отношение количества верно распознанных поражений к распознанным пораежниям, для 6 и большего числа моделей:  0.79
количество верно распознанных поражений: 43, количество ложно распознанных 6
отношение количества верно распознанных поражений к распознанным пораежниям, для 7 и большего числа моделей:  0.88
количество верно распознанных поражений: 12, количество ложно распознанных 2
отношение количества верно распознанных поражений к распознанным пораежниям, для 8 и большего числа моделей:  0.86


количество поражений 3 класса: 32
количество ложно нераспознанных поражений 3 класса:  8
количество верно нераспознанных поражений 3 класса:  2353
количество верно распознанных поражений 1 моделями:  2
количество ложно распознанных поражений 1 моделями:  322
количество верно распознанных поражений 2 моделями:  5
количество ложно распознанных поражений 2 моделями:  124
количество верно распознанных поражений 3 моделями:  8
количество ложно распознанных поражений 3 моделями:  51
количество верно распознанных поражений 4 моделями:  4
количество ложно распознанных поражений 4 моделями:  17
количество верно распознанных поражений 5 моделями:  3
количество ложно распознанных поражений 5 моделями:  5
количество верно распознанных поражений 6 моделями:  2
количество ложно распознанных поражений 6 моделями:  0
количество верно распознанных поражений 7 моделями:  0
количество ложно распознанных поражений 7 моделями:  0
количество верно распознанных поражений 8 моделями:  0
количество ложно распознанных поражений 8 моделями:  0
количество верно распознанных поражений: 24, количество ложно распознанных 519
отношение количества верно распознанных поражений к распознанным пораежниям, для 1 и большего числа моделей:  0.04
количество верно распознанных поражений: 22, количество ложно распознанных 197
отношение количества верно распознанных поражений к распознанным пораежниям, для 2 и большего числа моделей:  0.10
количество верно распознанных поражений: 17, количество ложно распознанных 73
отношение количества верно распознанных поражений к распознанным пораежниям, для 3 и большего числа моделей:  0.19
количество верно распознанных поражений: 9, количество ложно распознанных 22
отношение количества верно распознанных поражений к распознанным пораежниям, для 4 и большего числа моделей:  0.29
количество верно распознанных поражений: 5, количество ложно распознанных 5
отношение количества верно распознанных поражений к распознанным пораежниям, для 5 и большего числа моделей:  0.50
количество верно распознанных поражений: 2, количество ложно распознанных 0
отношение количества верно распознанных поражений к распознанным пораежниям, для 6 и большего числа моделей:  1.00
нет распознанных поражений
нет распознанных поражений


количество поражений 4 класса: 116
количество ложно нераспознанных поражений 4 класса:  31
количество верно нераспознанных поражений 4 класса:  1943
количество верно распознанных поражений 1 моделями:  20
количество ложно распознанных поражений 1 моделями:  467
количество верно распознанных поражений 2 моделями:  16
количество ложно распознанных поражений 2 моделями:  209
количество верно распознанных поражений 3 моделями:  16
количество ложно распознанных поражений 3 моделями:  97
количество верно распознанных поражений 4 моделями:  13
количество ложно распознанных поражений 4 моделями:  52
количество верно распознанных поражений 5 моделями:  8
количество ложно распознанных поражений 5 моделями:  13
количество верно распознанных поражений 6 моделями:  6
количество ложно распознанных поражений 6 моделями:  5
количество верно распознанных поражений 7 моделями:  5
количество ложно распознанных поражений 7 моделями:  1
количество верно распознанных поражений 8 моделями:  1
количество ложно распознанных поражений 8 моделями:  1
количество верно распознанных поражений: 85, количество ложно распознанных 845
отношение количества верно распознанных поражений к распознанным пораежниям, для 1 и большего числа моделей:  0.09
количество верно распознанных поражений: 65, количество ложно распознанных 378
отношение количества верно распознанных поражений к распознанным пораежниям, для 2 и большего числа моделей:  0.15
количество верно распознанных поражений: 49, количество ложно распознанных 169
отношение количества верно распознанных поражений к распознанным пораежниям, для 3 и большего числа моделей:  0.22
количество верно распознанных поражений: 33, количество ложно распознанных 72
отношение количества верно распознанных поражений к распознанным пораежниям, для 4 и большего числа моделей:  0.31
количество верно распознанных поражений: 20, количество ложно распознанных 20
отношение количества верно распознанных поражений к распознанным пораежниям, для 5 и большего числа моделей:  0.50
количество верно распознанных поражений: 12, количество ложно распознанных 7
отношение количества верно распознанных поражений к распознанным пораежниям, для 6 и большего числа моделей:  0.63
количество верно распознанных поражений: 6, количество ложно распознанных 2
отношение количества верно распознанных поражений к распознанным пораежниям, для 7 и большего числа моделей:  0.75
количество верно распознанных поражений: 1, количество ложно распознанных 1
отношение количества верно распознанных поражений к распознанным пораежниям, для 8 и большего числа моделей:  0.50


количество поражений 5 класса: 13
количество ложно нераспознанных поражений 5 класса:  9
количество верно нераспознанных поражений 5 класса:  2683
количество верно распознанных поражений 1 моделями:  2
количество ложно распознанных поражений 1 моделями:  149
количество верно распознанных поражений 2 моделями:  1
количество ложно распознанных поражений 2 моделями:  46
количество верно распознанных поражений 3 моделями:  0
количество ложно распознанных поражений 3 моделями:  7
количество верно распознанных поражений 4 моделями:  1
количество ложно распознанных поражений 4 моделями:  4
количество верно распознанных поражений 5 моделями:  0
количество ложно распознанных поражений 5 моделями:  2
количество верно распознанных поражений 6 моделями:  0
количество ложно распознанных поражений 6 моделями:  0
количество верно распознанных поражений 7 моделями:  0
количество ложно распознанных поражений 7 моделями:  0
количество верно распознанных поражений 8 моделями:  0
количество ложно распознанных поражений 8 моделями:  0
количество верно распознанных поражений: 4, количество ложно распознанных 208
отношение количества верно распознанных поражений к распознанным пораежниям, для 1 и большего числа моделей:  0.02
количество верно распознанных поражений: 2, количество ложно распознанных 59
отношение количества верно распознанных поражений к распознанным пораежниям, для 2 и большего числа моделей:  0.03
количество верно распознанных поражений: 1, количество ложно распознанных 13
отношение количества верно распознанных поражений к распознанным пораежниям, для 3 и большего числа моделей:  0.07
количество верно распознанных поражений: 1, количество ложно распознанных 6
отношение количества верно распознанных поражений к распознанным пораежниям, для 4 и большего числа моделей:  0.14
количество верно распознанных поражений: 0, количество ложно распознанных 2
отношение количества верно распознанных поражений к распознанным пораежниям, для 5 и большего числа моделей:  0.00
нет распознанных поражений
нет распознанных поражений
нет распознанных поражений


количество поражений 6 класса: 16
количество ложно нераспознанных поражений 6 класса:  13
количество верно нераспознанных поражений 6 класса:  2612
количество верно распознанных поражений 1 моделями:  2
количество ложно распознанных поражений 1 моделями:  205
количество верно распознанных поражений 2 моделями:  1
количество ложно распознанных поражений 2 моделями:  51
количество верно распознанных поражений 3 моделями:  0
количество ложно распознанных поражений 3 моделями:  14
количество верно распознанных поражений 4 моделями:  0
количество ложно распознанных поражений 4 моделями:  4
количество верно распознанных поражений 5 моделями:  0
количество ложно распознанных поражений 5 моделями:  1
количество верно распознанных поражений 6 моделями:  0
количество ложно распознанных поражений 6 моделями:  1
количество верно распознанных поражений 7 моделями:  0
количество ложно распознанных поражений 7 моделями:  0
количество верно распознанных поражений 8 моделями:  0
количество ложно распознанных поражений 8 моделями:  0
количество верно распознанных поражений: 3, количество ложно распознанных 276
отношение количества верно распознанных поражений к распознанным пораежниям, для 1 и большего числа моделей:  0.01
количество верно распознанных поражений: 1, количество ложно распознанных 71
отношение количества верно распознанных поражений к распознанным пораежниям, для 2 и большего числа моделей:  0.01
количество верно распознанных поражений: 0, количество ложно распознанных 20
отношение количества верно распознанных поражений к распознанным пораежниям, для 3 и большего числа моделей:  0.00
количество верно распознанных поражений: 0, количество ложно распознанных 6
отношение количества верно распознанных поражений к распознанным пораежниям, для 4 и большего числа моделей:  0.00
количество верно распознанных поражений: 0, количество ложно распознанных 2
отношение количества верно распознанных поражений к распознанным пораежниям, для 5 и большего числа моделей:  0.00
количество верно распознанных поражений: 0, количество ложно распознанных 1
отношение количества верно распознанных поражений к распознанным пораежниям, для 6 и большего числа моделей:  0.00
нет распознанных поражений
нет распознанных поражений


количество поражений 7 класса: 24
количество ложно нераспознанных поражений 7 класса:  6
количество верно нераспознанных поражений 7 класса:  2619
количество верно распознанных поражений 1 моделями:  4
количество ложно распознанных поражений 1 моделями:  210
количество верно распознанных поражений 2 моделями:  3
количество ложно распознанных поражений 2 моделями:  36
количество верно распознанных поражений 3 моделями:  2
количество ложно распознанных поражений 3 моделями:  13
количество верно распознанных поражений 4 моделями:  5
количество ложно распознанных поражений 4 моделями:  2
количество верно распознанных поражений 5 моделями:  2
количество ложно распознанных поражений 5 моделями:  0
количество верно распознанных поражений 6 моделями:  1
количество ложно распознанных поражений 6 моделями:  0
количество верно распознанных поражений 7 моделями:  1
количество ложно распознанных поражений 7 моделями:  0
количество верно распознанных поражений 8 моделями:  0
количество ложно распознанных поражений 8 моделями:  0
количество верно распознанных поражений: 18, количество ложно распознанных 261
отношение количества верно распознанных поражений к распознанным пораежниям, для 1 и большего числа моделей:  0.06
количество верно распознанных поражений: 14, количество ложно распознанных 51
отношение количества верно распознанных поражений к распознанным пораежниям, для 2 и большего числа моделей:  0.22
количество верно распознанных поражений: 11, количество ложно распознанных 15
отношение количества верно распознанных поражений к распознанным пораежниям, для 3 и большего числа моделей:  0.42
количество верно распознанных поражений: 9, количество ложно распознанных 2
отношение количества верно распознанных поражений к распознанным пораежниям, для 4 и большего числа моделей:  0.82
количество верно распознанных поражений: 4, количество ложно распознанных 0
отношение количества верно распознанных поражений к распознанным пораежниям, для 5 и большего числа моделей:  1.00
количество верно распознанных поражений: 2, количество ложно распознанных 0
отношение количества верно распознанных поражений к распознанным пораежниям, для 6 и большего числа моделей:  1.00
количество верно распознанных поражений: 1, количество ложно распознанных 0
отношение количества верно распознанных поражений к распознанным пораежниям, для 7 и большего числа моделей:  1.00
нет распознанных поражений

In [ ]:
df_check = counts_prediction(data_half)
for i in [0,1,2,4]:
  a = df_check[(df_check['target'] == i)]
  b = df_check[(df_check['target'] != i)]
  print(f'количество поражений {i} класса:', len(a))
  print(f'количество ложно нераспознанных поражений {i} класса: ', len(a[a[str(i)] == 0]))
  print(f'количество верно нераспознанных поражений {i} класса: ', len(b[b[str(i)] == 0]))
  res_tp = []
  res_fp = []
  for j in range(1, 5):
    count_tp = len(a[a[str(i)] == j])
    count_fp = len(b[b[str(i)] == j])
    print(f'количество верно распознанных поражений {j} моделями: ', count_tp)
    print(f'количество ложно распознанных поражений {j} моделями: ', count_fp)
    res_tp.append(count_tp)
    res_fp.append(count_fp)
  for k in range(0, len(res_tp)):
    sum_tp = 0
    sum_fp = 0
    for l in range(k, 4):
      sum_tp += res_tp[l]
      sum_fp += res_fp[l]
    if sum_tp + sum_fp == 0:
      print('нет распознанных поражений')
    else:
      print(f'количество верно распознанных поражений: {sum_tp}, количество ложно распознанных {sum_fp}, для {k+1} и большего числа моделей')
      print(f'отношение количества верно распознанных поражений к распознанным пораежниям, для {k + 1} и большего числа моделей: ', f'{(sum_tp / (sum_tp + sum_fp)):.2f}')
  print('\n')

количество поражений 0 класса: 561
количество ложно нераспознанных поражений 0 класса:  66
количество верно нераспознанных поражений 0 класса:  1040
количество верно распознанных поражений 1 моделями:  71
количество ложно распознанных поражений 1 моделями:  527
количество верно распознанных поражений 2 моделями:  82
количество ложно распознанных поражений 2 моделями:  295
количество верно распознанных поражений 3 моделями:  69
количество ложно распознанных поражений 3 моделями:  188
количество верно распознанных поражений 4 моделями:  66
количество ложно распознанных поражений 4 моделями:  93
количество верно распознанных поражений: 288, количество ложно распознанных 1103
отношение количества верно распознанных поражений к распознанным пораежниям, для 1 и большего числа моделей:  0.21
количество верно распознанных поражений: 217, количество ложно распознанных 576
отношение количества верно распознанных поражений к распознанным пораежниям, для 2 и большего числа моделей:  0.27
количество верно распознанных поражений: 135, количество ложно распознанных 281
отношение количества верно распознанных поражений к распознанным пораежниям, для 3 и большего числа моделей:  0.32
количество верно распознанных поражений: 66, количество ложно распознанных 93
отношение количества верно распознанных поражений к распознанным пораежниям, для 4 и большего числа моделей:  0.42


количество поражений 1 класса: 1784
количество ложно нераспознанных поражений 1 класса:  32
количество верно нераспознанных поражений 1 класса:  261
количество верно распознанных поражений 1 моделями:  60
количество ложно распознанных поражений 1 моделями:  196
количество верно распознанных поражений 2 моделями:  90
количество ложно распознанных поражений 2 моделями:  165
количество верно распознанных поражений 3 моделями:  153
количество ложно распознанных поражений 3 моделями:  131
количество верно распознанных поражений 4 моделями:  156
количество ложно распознанных поражений 4 моделями:  84
количество верно распознанных поражений: 459, количество ложно распознанных 576
отношение количества верно распознанных поражений к распознанным пораежниям, для 1 и большего числа моделей:  0.44
количество верно распознанных поражений: 399, количество ложно распознанных 380
отношение количества верно распознанных поражений к распознанным пораежниям, для 2 и большего числа моделей:  0.51
количество верно распознанных поражений: 309, количество ложно распознанных 215
отношение количества верно распознанных поражений к распознанным пораежниям, для 3 и большего числа моделей:  0.59
количество верно распознанных поражений: 156, количество ложно распознанных 84
отношение количества верно распознанных поражений к распознанным пораежниям, для 4 и большего числа моделей:  0.65


количество поражений 2 класса: 312
количество ложно нераспознанных поражений 2 класса:  9
количество верно нераспознанных поражений 2 класса:  1769
количество верно распознанных поражений 1 моделями:  14
количество ложно распознанных поражений 1 моделями:  323
количество верно распознанных поражений 2 моделями:  22
количество ложно распознанных поражений 2 моделями:  173
количество верно распознанных поражений 3 моделями:  28
количество ложно распознанных поражений 3 моделями:  91
количество верно распознанных поражений 4 моделями:  25
количество ложно распознанных поражений 4 моделями:  60
количество верно распознанных поражений: 89, количество ложно распознанных 647
отношение количества верно распознанных поражений к распознанным пораежниям, для 1 и большего числа моделей:  0.12
количество верно распознанных поражений: 75, количество ложно распознанных 324
отношение количества верно распознанных поражений к распознанным пораежниям, для 2 и большего числа моделей:  0.19
количество верно распознанных поражений: 53, количество ложно распознанных 151
отношение количества верно распознанных поражений к распознанным пораежниям, для 3 и большего числа моделей:  0.26
количество верно распознанных поражений: 25, количество ложно распознанных 60
отношение количества верно распознанных поражений к распознанным пораежниям, для 4 и большего числа моделей:  0.29


количество поражений 4 класса: 163
количество ложно нераспознанных поражений 4 класса:  33
количество верно нераспознанных поражений 4 класса:  1873
количество верно распознанных поражений 1 моделями:  16
количество ложно распознанных поражений 1 моделями:  406
количество верно распознанных поражений 2 моделями:  26
количество ложно распознанных поражений 2 моделями:  174
количество верно распознанных поражений 3 моделями:  23
количество ложно распознанных поражений 3 моделями:  114
количество верно распознанных поражений 4 моделями:  27
количество ложно распознанных поражений 4 моделями:  56
количество верно распознанных поражений: 92, количество ложно распознанных 750
отношение количества верно распознанных поражений к распознанным пораежниям, для 1 и большего числа моделей:  0.11
количество верно распознанных поражений: 76, количество ложно распознанных 344
отношение количества верно распознанных поражений к распознанным пораежниям, для 2 и большего числа моделей:  0.18
количество верно распознанных поражений: 50, количество ложно распознанных 170
отношение количества верно распознанных поражений к распознанным пораежниям, для 3 и большего числа моделей:  0.23
количество верно распознанных поражений: 27, количество ложно распознанных 56
отношение количества верно распознанных поражений к распознанным пораежниям, для 4 и большего числа моделей:  0.33

In [ ]:
def relation_zero_to_top(column, top):
  return (column == 0).sum() / (column > top).sum()

def take_all_relation_with_value(data, value):
  for column in data.columns:
    top = 0
    if top != 7 and relation_zero_to_top(data[column], top) < value:
      top += 1
    print(column, top, relation_zero_to_top(data[column], top))

take_all_relation_with_value(frequence_dataset_half, 0.3)

#frequence_dataset_all['1'].value_counts()

1 1 0.018912529550827423
0 1 0.15566037735849056
2 1 0.031141868512110725
4 1 0.2894736842105263

In [ ]:
def take_counts_df(dataset):
  df = pd.DataFrame()
  for column in dataset.columns:
     df[column] = dataset[column].value_counts(ascending=True)
  return df

counts_df_all = take_counts_df(frequence_dataset_all)
counts_df_half = take_counts_df(frequence_dataset_half)

In [ ]:
counts_df_all

     1   2   0   4    5    3     6    7
0   29  21  66  31  9.0  8.0  13.0  6.0
1   64  25  89  20  2.0  2.0   2.0  4.0
2  110  42  74  16  1.0  5.0   1.0  3.0
3  165  41  90  16  NaN  8.0   NaN  2.0
4  218  49  72  13  1.0  4.0   NaN  5.0
5  280  33  67   8  NaN  3.0   NaN  2.0
6  291  48  39   6  NaN  2.0   NaN  1.0
7  313  31  43   5  NaN  NaN   NaN  1.0
8  357  12  34   1  NaN  NaN   NaN  NaN

In [ ]:
counts_df_all.sum()

1    1827.0
2     302.0
0     574.0
4     116.0
5      13.0
3      32.0
6      16.0
7      24.0
dtype: float64

In [ ]:
counts_df_half

     1   0   2   4
0   32  66   9  33
1   60  71  14  16
2   90  82  22  26
3  153  69  28  23
4  156  66  25  27
5  252  69  44  10
6  289  58  58  12
7  296  46  64  13
8  456  34  48   3

In [ ]:
counts_df_half.sum()

1    1784
0     561
2     312
4     163
dtype: int64