In [ ]:
import pandas as pd
import numpy as np 
from scipy.stats import spearmanr
from scipy.stats import pearsonr
from scipy.stats import kendalltau

In [ ]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/total_dataset_to_corr.csv')
data

,Unnamed: 0,I_rbg_full_Q5,I_rbg_full_Q10,I_rbg_full_Q15,I_rbg_full_Q20,I_rbg_full_Q25,I_rbg_full_Q30,I_rbg_full_Q35,I_rbg_full_Q40,I_rbg_full_Q45,...,LAS_sobel_8u_b_Q90,LAS_sobel_8u_b_Q95,LAS_sobel_8u_b_min,LAS_sobel_8u_b_mean,LAS_sobel_8u_b_max,LAS_sobel_8u_b_std,LAS_sobel_8u_b_mode,LAS_sobel_8u_b_median,image_name,target
0,0,42.0,49.0,57.0,65.0,76.0,89.0,107.0,135.0,159.0,...,212.0,233.0,1.0,104.349972,255.0,71.551795,16.0,94.0,ISIC_0000000,NV
1,1,56.0,133.0,156.0,163.0,166.0,168.0,169.0,170.0,171.0,...,200.0,226.0,1.0,95.079016,255.0,68.093628,20.0,81.0,ISIC_0000001,NV
2,2,80.0,95.0,109.0,120.0,129.0,137.0,144.0,150.0,153.0,...,215.0,234.0,1.0,109.925769,255.0,71.086424,10.0,102.0,ISIC_0000002,MEL
3,3,51.0,69.0,89.0,111.0,134.0,161.0,189.0,206.0,211.0,...,209.0,230.0,1.0,99.766049,255.0,70.459762,48.0,86.0,ISIC_0000003,NV
4,4,97.0,110.0,120.0,130.0,138.0,148.0,158.0,166.0,173.0,...,203.0,227.0,1.0,99.010301,255.0,68.012465,48.0,87.0,ISIC_0000004,MEL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11611,11611,60.0,63.0,66.0,68.0,70.0,72.0,74.0,77.0,79.0,...,173.0,203.0,1.0,84.031243,255.0,60.173400,21.0,72.0,ISIC_0072149,BKL
11612,11612,130.0,149.0,153.0,156.0,158.0,159.0,160.0,161.0,162.0,...,213.0,233.0,1.0,106.003448,255.0,70.990120,9.0,96.0,ISIC_0072153,BKL
11613,11613,113.0,130.0,140.0,144.0,147.0,150.0,152.0,155.0,157.0,...,181.0,212.0,1.0,86.072027,255.0,63.156033,7.0,73.0,ISIC_0072905,BKL
11614,11614,129.0,136.0,140.0,144.0,146.0,148.0,149.0,151.0,152.0,...,172.0,203.0,1.0,80.450360,255.0,60.686848,6.0,67.0,ISIC_0073012,VASC
11615,11615,83.0,90.0,94.0,99.0,102.0,106.0,110.0,114.0,117.0,...,202.0,226.0,1.0,99.765795,255.0,67.953148,24.0,89.0,ISIC_0073214,AK

In [ ]:
data = data.drop(['Unnamed: 0', 'image_name'], axis = 1)
def change_name_lesion(name):
  if name == 'MEL':
    return 0
  elif name == 'NV':
    return 1
  elif name == 'BCC':
    return 2
  elif name == 'AK':
    return 3
  elif name == 'BKL':
    return 4
  elif name == 'DF':
    return 5
  elif name == 'SCC':
    return 6
  elif name == 'VASC':
    return 7

data['target'] = data['target'].apply(change_name_lesion)
data.head(3)

,I_rbg_full_Q5,I_rbg_full_Q10,I_rbg_full_Q15,I_rbg_full_Q20,I_rbg_full_Q25,I_rbg_full_Q30,I_rbg_full_Q35,I_rbg_full_Q40,I_rbg_full_Q45,I_rbg_full_Q50,...,LAS_sobel_8u_b_Q85,LAS_sobel_8u_b_Q90,LAS_sobel_8u_b_Q95,LAS_sobel_8u_b_min,LAS_sobel_8u_b_mean,LAS_sobel_8u_b_max,LAS_sobel_8u_b_std,LAS_sobel_8u_b_mode,LAS_sobel_8u_b_median,target
0,42.0,49.0,57.0,65.0,76.0,89.0,107.0,135.0,159.0,168.0,...,193.0,212.0,233.0,1.0,104.349972,255.0,71.551795,16.0,94.0,1
1,56.0,133.0,156.0,163.0,166.0,168.0,169.0,170.0,171.0,172.0,...,179.0,200.0,226.0,1.0,95.079016,255.0,68.093628,20.0,81.0,1
2,80.0,95.0,109.0,120.0,129.0,137.0,144.0,150.0,153.0,156.0,...,198.0,215.0,234.0,1.0,109.925769,255.0,71.086424,10.0,102.0,0

In [ ]:
data.describe()

,I_rbg_full_Q5,I_rbg_full_Q10,I_rbg_full_Q15,I_rbg_full_Q20,I_rbg_full_Q25,I_rbg_full_Q30,I_rbg_full_Q35,I_rbg_full_Q40,I_rbg_full_Q45,I_rbg_full_Q50,...,LAS_sobel_8u_b_Q85,LAS_sobel_8u_b_Q90,LAS_sobel_8u_b_Q95,LAS_sobel_8u_b_min,LAS_sobel_8u_b_mean,LAS_sobel_8u_b_max,LAS_sobel_8u_b_std,LAS_sobel_8u_b_mode,LAS_sobel_8u_b_median,target
count,11616.000000,11616.000000,11616.000000,11616.000000,11616.000000,11616.000000,11616.000000,11616.000000,11616.000000,11616.000000,...,11616.000000,11616.000000,11616.000000,11616.0,11616.000000,11616.000000,11616.000000,11616.000000,11616.000000,11616.000000
mean,84.151623,105.717200,120.880411,132.038860,140.610774,147.521694,153.316516,158.373864,162.850009,166.898072,...,180.895838,200.802454,224.473967,1.0,98.149755,254.996126,67.861842,11.420627,86.928116,1.186467
std,35.064377,36.182582,34.853567,32.952063,31.031404,29.368794,27.911630,26.623803,25.582022,24.745808,...,19.253144,17.671480,13.703939,0.0,11.781647,0.318037,4.380812,10.093556,14.177661,1.103827
min,7.000000,13.000000,15.000000,16.000000,16.000000,17.000000,18.000000,19.000000,21.000000,22.000000,...,60.000000,72.000000,92.000000,1.0,32.645326,221.000000,29.526138,1.000000,24.000000,0.000000
25%,56.000000,78.000000,97.000000,112.000000,122.000000,131.000000,138.000000,143.000000,148.000000,152.000000,...,172.000000,194.000000,221.000000,1.0,91.603202,255.000000,66.313508,4.000000,78.000000,1.000000
50%,81.000000,107.000000,124.000000,135.000000,143.000000,150.000000,155.000000,160.000000,164.000000,168.000000,...,185.000000,205.000000,228.000000,1.0,100.025407,255.000000,68.977179,8.000000,89.000000,1.000000
75%,110.000000,133.000000,146.000000,155.000000,162.000000,168.000000,172.000000,177.000000,181.000000,184.000000,...,195.000000,213.000000,233.000000,1.0,106.801259,255.000000,70.846139,16.000000,97.000000,1.000000
max,215.000000,223.000000,228.000000,233.000000,235.000000,237.000000,238.000000,240.000000,243.000000,248.000000,...,213.000000,227.000000,242.000000,1.0,123.319097,255.000000,74.765252,83.000000,120.000000,7.000000

In [ ]:
std_zero_columns = []
for i, column in enumerate(data.columns):
  if data[column].std() == 0:
    std_zero_columns.append(column)
print('количеств столбцов с нулевым std', std_zero_columns)
data_std = data.drop(columns=std_zero_columns)
data_std

количеств столбцов с нулевым std ['I_laplacian_full_min', 'I_laplacian_r_min', 'I_laplacian_g_min', 'I_laplacian_b_min', 'I_sobelx_full_min', 'I_sobelx_r_min', 'I_sobelx_g_min', 'I_sobelx_b_min', 'I_sobely_full_min', 'I_sobely_r_min', 'I_sobely_g_min', 'I_sobely_b_min', 'I_sobelx2_full_min', 'I_sobelx2_r_min', 'I_sobelx2_g_min', 'I_sobelx2_b_min', 'I_sobely2_full_min', 'I_sobely2_r_min', 'I_sobely2_g_min', 'I_sobely2_b_min', 'I_sobelx8u_full_min', 'I_sobelx8u_full_max', 'I_sobelx8u_r_min', 'I_sobelx8u_r_max', 'I_sobelx8u_g_min', 'I_sobelx8u_g_max', 'I_sobelx8u_b_min', 'I_sobelx8u_b_max', 'I_sobel_8u_full_min', 'I_sobel_8u_full_max', 'I_sobel_8u_r_min', 'I_sobel_8u_r_max', 'I_sobel_8u_g_min', 'I_sobel_8u_b_min', 'I_sobel_8u_b_max', 'ALAS_laplacian_full_min', 'L_laplacian_full_min', 'L_sobelx8u_full_max', 'L_sobelx8u_full_mode', 'L_sobelx8u_r_max', 'L_sobelx8u_r_mode', 'L_sobelx8u_g_max', 'L_sobelx8u_g_mode', 'L_sobelx8u_b_max', 'L_sobelx8u_b_mode', 'L_sobel_8u_full_min', 'L_sobel_8u_full_max', 'S_laplacian_full_min', 'S_laplacian_r_min', 'S_laplacian_g_min', 'S_laplacian_b_min', 'S_sobelx_full_min', 'S_sobelx_r_min', 'S_sobelx_g_min', 'S_sobelx_b_min', 'S_sobely_full_min', 'S_sobely_r_min', 'S_sobely_g_min', 'S_sobely_b_min', 'S_sobelx2_full_min', 'S_sobelx2_r_min', 'S_sobelx2_g_min', 'S_sobelx2_b_min', 'S_sobely2_full_min', 'S_sobely2_r_min', 'S_sobely2_g_min', 'S_sobely2_b_min', 'S_sobelx8u_full_min', 'S_sobelx8u_full_max', 'S_sobelx8u_r_min', 'S_sobelx8u_r_max', 'S_sobelx8u_g_min', 'S_sobelx8u_g_max', 'S_sobelx8u_b_min', 'S_sobelx8u_b_max', 'S_sobel_8u_full_min', 'S_sobel_8u_full_max', 'S_sobel_8u_r_min', 'S_sobel_8u_r_max', 'S_sobel_8u_g_min', 'S_sobel_8u_g_max', 'S_sobel_8u_b_min', 'S_sobel_8u_b_max', 'LAS_laplacian_full_min', 'LAS_laplacian_r_min', 'LAS_laplacian_g_min', 'LAS_laplacian_b_min', 'LAS_sobelx_full_min', 'LAS_sobelx_r_min', 'LAS_sobelx_g_min', 'LAS_sobelx_b_min', 'LAS_sobely_full_min', 'LAS_sobely_r_min', 'LAS_sobely_g_min', 'LAS_sobely_b_min', 'LAS_sobelx2_full_min', 'LAS_sobelx2_r_min', 'LAS_sobelx2_g_min', 'LAS_sobelx2_b_min', 'LAS_sobely2_full_min', 'LAS_sobely2_r_min', 'LAS_sobely2_g_min', 'LAS_sobely2_b_min', 'LAS_sobelx8u_full_min', 'LAS_sobelx8u_r_min', 'LAS_sobelx8u_g_min', 'LAS_sobelx8u_b_min', 'LAS_sobel_8u_full_min', 'LAS_sobel_8u_r_min', 'LAS_sobel_8u_g_min', 'LAS_sobel_8u_b_min']

,I_rbg_full_Q5,I_rbg_full_Q10,I_rbg_full_Q15,I_rbg_full_Q20,I_rbg_full_Q25,I_rbg_full_Q30,I_rbg_full_Q35,I_rbg_full_Q40,I_rbg_full_Q45,I_rbg_full_Q50,...,LAS_sobel_8u_b_Q80,LAS_sobel_8u_b_Q85,LAS_sobel_8u_b_Q90,LAS_sobel_8u_b_Q95,LAS_sobel_8u_b_mean,LAS_sobel_8u_b_max,LAS_sobel_8u_b_std,LAS_sobel_8u_b_mode,LAS_sobel_8u_b_median,target
0,42.0,49.0,57.0,65.0,76.0,89.0,107.0,135.0,159.0,168.0,...,176.0,193.0,212.0,233.0,104.349972,255.0,71.551795,16.0,94.0,1
1,56.0,133.0,156.0,163.0,166.0,168.0,169.0,170.0,171.0,172.0,...,161.0,179.0,200.0,226.0,95.079016,255.0,68.093628,20.0,81.0,1
2,80.0,95.0,109.0,120.0,129.0,137.0,144.0,150.0,153.0,156.0,...,182.0,198.0,215.0,234.0,109.925769,255.0,71.086424,10.0,102.0,0
3,51.0,69.0,89.0,111.0,134.0,161.0,189.0,206.0,211.0,214.0,...,170.0,188.0,209.0,230.0,99.766049,255.0,70.459762,48.0,86.0,1
4,97.0,110.0,120.0,130.0,138.0,148.0,158.0,166.0,173.0,180.0,...,164.0,183.0,203.0,227.0,99.010301,255.0,68.012465,48.0,87.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11611,60.0,63.0,66.0,68.0,70.0,72.0,74.0,77.0,79.0,82.0,...,136.0,152.0,173.0,203.0,84.031243,255.0,60.173400,21.0,72.0,4
11612,130.0,149.0,153.0,156.0,158.0,159.0,160.0,161.0,162.0,163.0,...,177.0,195.0,213.0,233.0,106.003448,255.0,70.990120,9.0,96.0,4
11613,113.0,130.0,140.0,144.0,147.0,150.0,152.0,155.0,157.0,158.0,...,143.0,160.0,181.0,212.0,86.072027,255.0,63.156033,7.0,73.0,4
11614,129.0,136.0,140.0,144.0,146.0,148.0,149.0,151.0,152.0,153.0,...,132.0,149.0,172.0,203.0,80.450360,255.0,60.686848,6.0,67.0,7
11615,83.0,90.0,94.0,99.0,102.0,106.0,110.0,114.0,117.0,119.0,...,165.0,183.0,202.0,226.0,99.765795,255.0,67.953148,24.0,89.0,3

In [ ]:
df_spearmanr = pd.DataFrame(columns = ['rho', 'p'])
df_spearmanr
for i, column in enumerate(data_std.columns):
  df_spearmanr.loc[len(df_spearmanr)] = spearmanr(data_std[column], data_std['target'])

In [ ]:
df_spearmanr.head(3)

        rho              p
0  0.299295  5.209911e-239
1  0.247095  3.933545e-161
2  0.198978  4.891474e-104

In [ ]:
stat_spearmanr_main = df_spearmanr[np.abs(df_spearmanr['rho']) > 0.15]
stat_spearmanr = stat_spearmanr_main
stat_spearmanr

           rho              p
0     0.299295  5.209911e-239
1     0.247095  3.933545e-161
2     0.198978  4.891474e-104
3     0.156110   2.835651e-64
18   -0.151926   6.221780e-61
...        ...            ...
5461 -0.214321  8.931555e-121
5463 -0.234745  3.550350e-145
5465 -0.203238  1.503893e-108
5487 -0.152530   2.076846e-61
5514  1.000000   0.000000e+00

[1301 rows x 2 columns]

In [ ]:
for i in stat_spearmanr.index:
  print(data_std.iloc[:,[i]].columns[0])

In [ ]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/total_dataset_to_corr.csv')
data

,Unnamed: 0,I_rbg_full_Q5,I_rbg_full_Q10,I_rbg_full_Q15,I_rbg_full_Q20,I_rbg_full_Q25,I_rbg_full_Q30,I_rbg_full_Q35,I_rbg_full_Q40,I_rbg_full_Q45,...,LAS_sobel_8u_b_Q90,LAS_sobel_8u_b_Q95,LAS_sobel_8u_b_min,LAS_sobel_8u_b_mean,LAS_sobel_8u_b_max,LAS_sobel_8u_b_std,LAS_sobel_8u_b_mode,LAS_sobel_8u_b_median,image_name,target
0,0,42.0,49.0,57.0,65.0,76.0,89.0,107.0,135.0,159.0,...,212.0,233.0,1.0,104.349972,255.0,71.551795,16.0,94.0,ISIC_0000000,NV
1,1,56.0,133.0,156.0,163.0,166.0,168.0,169.0,170.0,171.0,...,200.0,226.0,1.0,95.079016,255.0,68.093628,20.0,81.0,ISIC_0000001,NV
2,2,80.0,95.0,109.0,120.0,129.0,137.0,144.0,150.0,153.0,...,215.0,234.0,1.0,109.925769,255.0,71.086424,10.0,102.0,ISIC_0000002,MEL
3,3,51.0,69.0,89.0,111.0,134.0,161.0,189.0,206.0,211.0,...,209.0,230.0,1.0,99.766049,255.0,70.459762,48.0,86.0,ISIC_0000003,NV
4,4,97.0,110.0,120.0,130.0,138.0,148.0,158.0,166.0,173.0,...,203.0,227.0,1.0,99.010301,255.0,68.012465,48.0,87.0,ISIC_0000004,MEL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11611,11611,60.0,63.0,66.0,68.0,70.0,72.0,74.0,77.0,79.0,...,173.0,203.0,1.0,84.031243,255.0,60.173400,21.0,72.0,ISIC_0072149,BKL
11612,11612,130.0,149.0,153.0,156.0,158.0,159.0,160.0,161.0,162.0,...,213.0,233.0,1.0,106.003448,255.0,70.990120,9.0,96.0,ISIC_0072153,BKL
11613,11613,113.0,130.0,140.0,144.0,147.0,150.0,152.0,155.0,157.0,...,181.0,212.0,1.0,86.072027,255.0,63.156033,7.0,73.0,ISIC_0072905,BKL
11614,11614,129.0,136.0,140.0,144.0,146.0,148.0,149.0,151.0,152.0,...,172.0,203.0,1.0,80.450360,255.0,60.686848,6.0,67.0,ISIC_0073012,VASC
11615,11615,83.0,90.0,94.0,99.0,102.0,106.0,110.0,114.0,117.0,...,202.0,226.0,1.0,99.765795,255.0,67.953148,24.0,89.0,ISIC_0073214,AK

In [ ]:
data = data.drop(['Unnamed: 0', 'image_name'], axis = 1)
def change_name_lesion(name):
  if name == 'MEL':
    return 0
  elif name == 'NV':
    return 1
  elif name == 'BCC':
    return 2
  elif name == 'AK':
    return 3
  elif name == 'BKL':
    return 4
  elif name == 'DF':
    return 5
  elif name == 'SCC':
    return 6
  elif name == 'VASC':
    return 7

data['target'] = data['target'].apply(change_name_lesion)
data.head(3)

,I_rbg_full_Q5,I_rbg_full_Q10,I_rbg_full_Q15,I_rbg_full_Q20,I_rbg_full_Q25,I_rbg_full_Q30,I_rbg_full_Q35,I_rbg_full_Q40,I_rbg_full_Q45,I_rbg_full_Q50,...,LAS_sobel_8u_b_Q85,LAS_sobel_8u_b_Q90,LAS_sobel_8u_b_Q95,LAS_sobel_8u_b_min,LAS_sobel_8u_b_mean,LAS_sobel_8u_b_max,LAS_sobel_8u_b_std,LAS_sobel_8u_b_mode,LAS_sobel_8u_b_median,target
0,42.0,49.0,57.0,65.0,76.0,89.0,107.0,135.0,159.0,168.0,...,193.0,212.0,233.0,1.0,104.349972,255.0,71.551795,16.0,94.0,1
1,56.0,133.0,156.0,163.0,166.0,168.0,169.0,170.0,171.0,172.0,...,179.0,200.0,226.0,1.0,95.079016,255.0,68.093628,20.0,81.0,1
2,80.0,95.0,109.0,120.0,129.0,137.0,144.0,150.0,153.0,156.0,...,198.0,215.0,234.0,1.0,109.925769,255.0,71.086424,10.0,102.0,0

In [ ]:
data_MEL = data[data['target'] == 0] 
data_NV = data[data['target'] == 1]
data_BCC = data[data['target'] == 2]
data_AK = data[data['target'] == 3]
data_BKL = data[data['target'] == 4]
data_DF = data[data['target'] == 5]
data_SCC = data[data['target'] == 6]
data_VASC = data[data['target'] == 7]

In [ ]:
data_VASC

,I_rbg_full_Q5,I_rbg_full_Q10,I_rbg_full_Q15,I_rbg_full_Q20,I_rbg_full_Q25,I_rbg_full_Q30,I_rbg_full_Q35,I_rbg_full_Q40,I_rbg_full_Q45,I_rbg_full_Q50,...,LAS_sobel_8u_b_Q85,LAS_sobel_8u_b_Q90,LAS_sobel_8u_b_Q95,LAS_sobel_8u_b_min,LAS_sobel_8u_b_mean,LAS_sobel_8u_b_max,LAS_sobel_8u_b_std,LAS_sobel_8u_b_mode,LAS_sobel_8u_b_median,target
10809,145.0,149.0,152.0,154.0,155.0,157.0,159.0,160.0,162.0,164.0,...,186.0,205.0,227.0,1.0,101.889357,255.0,68.598713,2.0,92.0,7
10826,60.0,96.0,115.0,124.0,133.0,140.0,147.0,152.0,156.0,159.0,...,158.0,180.0,208.0,1.0,85.167419,255.0,62.318190,2.0,73.0,7
10852,50.0,71.0,88.0,101.0,109.0,116.0,122.0,127.0,133.0,138.0,...,198.0,215.0,235.0,1.0,106.259679,255.0,72.070250,9.0,96.0,7
10855,96.0,127.0,136.0,142.0,145.0,148.0,150.0,152.0,154.0,156.0,...,181.0,202.0,227.0,1.0,97.420395,255.0,68.180585,8.0,85.0,7
10864,66.0,78.0,88.0,102.0,121.0,135.0,148.0,157.0,163.0,168.0,...,164.0,185.0,214.0,1.0,88.327908,255.0,63.876993,3.0,76.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11583,92.0,104.0,109.0,113.0,115.0,118.0,121.0,125.0,130.0,134.0,...,205.0,221.0,238.0,1.0,114.396618,255.0,72.831356,24.0,107.0,7
11602,78.0,84.0,89.0,93.0,98.0,103.0,107.0,112.0,118.0,125.0,...,196.0,215.0,235.0,1.0,105.500862,255.0,72.019580,8.0,94.0,7
11606,104.0,118.0,124.0,128.0,132.0,134.0,137.0,139.0,142.0,145.0,...,204.0,221.0,238.0,1.0,113.651752,255.0,72.426146,12.0,107.0,7
11609,147.0,166.0,171.0,174.0,176.0,178.0,179.0,180.0,182.0,183.0,...,172.0,194.0,221.0,1.0,90.815041,255.0,66.595524,24.0,76.0,7
11614,129.0,136.0,140.0,144.0,146.0,148.0,149.0,151.0,152.0,153.0,...,149.0,172.0,203.0,1.0,80.450360,255.0,60.686848,6.0,67.0,7

In [ ]:
from datetime import datetime

def get_corr_dataframe(dataframe):
    df_spearmanr = pd.DataFrame(columns = ['rho', 'p'])
    target = dataframe['target']
    dataframe = dataframe.drop(['target'], axis=1)
    for i, column in enumerate(dataframe.columns):
      df_spearmanr.loc[len(df_spearmanr)] = spearmanr(dataframe[column], target)
    return df_spearmanr[np.abs(df_spearmanr['rho']) > np.quantile(df_spearmanr['rho'], 0.999)]

def clean_dataframe(dataframe):
  std_zero_columns = []
  for i, column in enumerate(dataframe.columns):
    if dataframe[column].std() == 0:
      std_zero_columns.append(column)
  print('классы: ', dataframe['target'].unique()[0], dataframe['target'].unique()[1])
  print('количеств столбцов с нулевым std: ', len(std_zero_columns))
  data_std = dataframe.drop(columns=std_zero_columns)
  return data_std

list_datasets = [data_MEL, data_NV, data_BCC, data_AK, data_BKL, data_DF, data_SCC, data_VASC]
list_datasets_of_corr = []
set_of_column_names = set()

start = datetime.now()
for i in range(len(list_datasets)):
  for j in range(i + 1, len(list_datasets)):
      dataframe = pd.concat([list_datasets[i], list_datasets[j]])
      data_std = clean_dataframe(dataframe)
      df_corr = get_corr_dataframe(data_std)
      for k in df_corr.index:
        set_of_column_names.add(data_std.iloc[:,[k]].columns[0])
      print('количество строк в датафрейме коэффициентов: ', len(df_corr))
      list_datasets_of_corr.append(df_corr)
print('время работы: ', datetime.now() - start)

классы:  0 1
количеств столбцов с нулевым std:  115
количество строк в датафрейме коэффициентов:  74
классы:  0 2
количеств столбцов с нулевым std:  119
количество строк в датафрейме коэффициентов:  40
классы:  0 3
количеств столбцов с нулевым std:  150
количество строк в датафрейме коэффициентов:  36
классы:  0 4
количеств столбцов с нулевым std:  143
количество строк в датафрейме коэффициентов:  28
классы:  0 5
количеств столбцов с нулевым std:  146
количество строк в датафрейме коэффициентов:  26
классы:  0 6
количеств столбцов с нулевым std:  150
количество строк в датафрейме коэффициентов:  13
классы:  0 7
количеств столбцов с нулевым std:  150
количество строк в датафрейме коэффициентов:  7
классы:  1 2
количеств столбцов с нулевым std:  111
количество строк в датафрейме коэффициентов:  18
классы:  1 3
количеств столбцов с нулевым std:  115
количество строк в датафрейме коэффициентов:  34
классы:  1 4
количеств столбцов с нулевым std:  115
количество строк в датафрейме коэффициентов:  6
классы:  1 5
количеств столбцов с нулевым std:  115
количество строк в датафрейме коэффициентов:  9
классы:  1 6
количеств столбцов с нулевым std:  115
количество строк в датафрейме коэффициентов:  6
классы:  1 7
количеств столбцов с нулевым std:  115
количество строк в датафрейме коэффициентов:  5
классы:  2 3
количеств столбцов с нулевым std:  138
количество строк в датафрейме коэффициентов:  6
классы:  2 4
количеств столбцов с нулевым std:  122
количество строк в датафрейме коэффициентов:  6
классы:  2 5
количеств столбцов с нулевым std:  138
количество строк в датафрейме коэффициентов:  20
классы:  2 6
количеств столбцов с нулевым std:  138
количество строк в датафрейме коэффициентов:  6
классы:  2 7
количеств столбцов с нулевым std:  136
количество строк в датафрейме коэффициентов:  7
классы:  3 4
количеств столбцов с нулевым std:  162
количество строк в датафрейме коэффициентов:  6
классы:  3 5
количеств столбцов с нулевым std:  233
количество строк в датафрейме коэффициентов:  87
классы:  3 6
количеств столбцов с нулевым std:  245
количество строк в датафрейме коэффициентов:  6
классы:  3 7
количеств столбцов с нулевым std:  213
количество строк в датафрейме коэффициентов:  6
классы:  4 5
количеств столбцов с нулевым std:  160
количество строк в датафрейме коэффициентов:  230
классы:  4 6
количеств столбцов с нулевым std:  163
количество строк в датафрейме коэффициентов:  6
классы:  4 7
количеств столбцов с нулевым std:  160
количество строк в датафрейме коэффициентов:  6
классы:  5 6
количеств столбцов с нулевым std:  227
количество строк в датафрейме коэффициентов:  6
классы:  5 7
количеств столбцов с нулевым std:  207
количество строк в датафрейме коэффициентов:  22
классы:  6 7
количеств столбцов с нулевым std:  213
количество строк в датафрейме коэффициентов:  7
время работы:  0:07:42.397274

In [ ]:
len(list_datasets_of_corr)

28

In [ ]:
print(len(set_of_column_names))

490

In [ ]:
for index, i in enumerate(list_datasets_of_corr):
  maximum = np.abs(i.drop(i.index[-1]).rho).max()
  minimum = np.abs(i.drop(i.index[-1]).rho).min()
  print(f'номер датасета: {index}; max: {maximum:.3f}; min: {minimum:.3f}; разность: {(maximum - minimum):.3f}')

номер датасета: 0; max: 0.274; min: 0.226; разность: 0.048
номер датасета: 1; max: 0.627; min: 0.506; разность: 0.121
номер датасета: 2; max: 0.327; min: 0.282; разность: 0.045
номер датасета: 3; max: 0.391; min: 0.308; разность: 0.084
номер датасета: 4; max: 0.327; min: 0.184; разность: 0.143
номер датасета: 5; max: 0.181; min: 0.173; разность: 0.008
номер датасета: 6; max: 0.258; min: 0.240; разность: 0.017
номер датасета: 7; max: 0.455; min: 0.412; разность: 0.043
номер датасета: 8; max: 0.190; min: 0.157; разность: 0.033
номер датасета: 9; max: 0.236; min: 0.226; разность: 0.010
номер датасета: 10; max: 0.140; min: 0.105; разность: 0.036
номер датасета: 11; max: 0.104; min: 0.101; разность: 0.003
номер датасета: 12; max: 0.140; min: 0.139; разность: 0.001
номер датасета: 13; max: 0.148; min: 0.147; разность: 0.000
номер датасета: 14; max: 0.407; min: 0.404; разность: 0.003
номер датасета: 15; max: 0.133; min: 0.094; разность: 0.039
номер датасета: 16; max: 0.174; min: 0.174; разность: 0.001
номер датасета: 17; max: 0.298; min: 0.259; разность: 0.039
номер датасета: 18; max: 0.358; min: 0.337; разность: 0.021
номер датасета: 19; max: 0.374; min: 0.246; разность: 0.128
номер датасета: 20; max: 0.345; min: 0.326; разность: 0.019
номер датасета: 21; max: 0.652; min: 0.637; разность: 0.015
номер датасета: 22; max: 0.409; min: 0.225; разность: 0.184
номер датасета: 23; max: 0.241; min: 0.233; разность: 0.008
номер датасета: 24; max: 0.465; min: 0.434; разность: 0.031
номер датасета: 25; max: 0.471; min: 0.466; разность: 0.005
номер датасета: 26; max: 0.666; min: 0.626; разность: 0.041
номер датасета: 27; max: 0.583; min: 0.524; разность: 0.058

In [ ]:
for index, i in enumerate(list_datasets_of_corr):
  maximum = np.abs(i.drop(i.index[-1]).rho).max()
  minimum = np.abs(i.drop(i.index[-1]).rho).min()
  print(f'номер датасета: {index}; max: {maximum:.3f}; min: {minimum:.3f}; разность: {(maximum - minimum):.3f}')

номер датасета: 0; max: 0.274; min: 0.184; разность: 0.090
номер датасета: 1; max: 0.627; min: 0.482; разность: 0.145
номер датасета: 2; max: 0.327; min: 0.260; разность: 0.067
номер датасета: 3; max: 0.391; min: 0.279; разность: 0.113
номер датасета: 4; max: 0.327; min: 0.166; разность: 0.161
номер датасета: 5; max: 0.181; min: 0.151; разность: 0.029
номер датасета: 6; max: 0.258; min: 0.209; разность: 0.049
номер датасета: 7; max: 0.455; min: 0.380; разность: 0.075
номер датасета: 8; max: 0.190; min: 0.151; разность: 0.039
номер датасета: 9; max: 0.236; min: 0.197; разность: 0.039
номер датасета: 10; max: 0.140; min: 0.096; разность: 0.045
номер датасета: 11; max: 0.104; min: 0.090; разность: 0.015
номер датасета: 12; max: 0.146; min: 0.110; разность: 0.036
номер датасета: 13; max: 0.148; min: 0.135; разность: 0.013
номер датасета: 14; max: 0.407; min: 0.397; разность: 0.010
номер датасета: 15; max: 0.133; min: 0.079; разность: 0.054
номер датасета: 16; max: 0.176; min: 0.168; разность: 0.008
номер датасета: 17; max: 0.298; min: 0.210; разность: 0.088
номер датасета: 18; max: 0.358; min: 0.286; разность: 0.072
номер датасета: 19; max: 0.374; min: 0.220; разность: 0.154
номер датасета: 20; max: 0.386; min: 0.305; разность: 0.081
номер датасета: 21; max: 0.652; min: 0.501; разность: 0.151
номер датасета: 22; max: 0.409; min: 0.205; разность: 0.204
номер датасета: 23; max: 0.241; min: 0.191; разность: 0.050
номер датасета: 24; max: 0.468; min: 0.372; разность: 0.096
номер датасета: 25; max: 0.471; min: 0.432; разность: 0.039
номер датасета: 26; max: 0.666; min: 0.477; разность: 0.190
номер датасета: 27; max: 0.583; min: 0.361; разность: 0.222

In [ ]:
total_dataframe = data[list(set_of_column_names) + ['target']]
total_dataframe

,L_sobelx_b_Q90,S_sobelx_full_mean,S_gray_std,L_hsv_full_Q15,S_laplacian_g_std,LAS_sobel_8u_r_Q65,ALAS_yuv_u_median,L_hsv_full_Q20,LAS_sobely_r_Q45,S_sobelx_b_Q95,...,LAS_sobely_r_Q60,LAS_sobely_r_Q25,S_sobely_g_mean,S_sobelx8u_full_Q90,LAS_sobelx_full_Q40,I_sobelx8u_r_Q95,LAS_sobely_r_Q40,LAS_sobelx8u_g_Q85,S_sobelx_b_mean,target
0,364.0,149.425533,20.221313,31.0,23.188627,109.0,129.0,36.0,95.0,464.00,...,144.0,46.0,156.423519,221.0,103.0,255.0,80.0,255.0,169.275527,1
1,536.0,153.640092,8.465117,9.0,29.399431,115.0,121.0,10.0,126.0,292.00,...,190.0,63.0,168.521811,163.0,81.0,255.0,109.0,255.0,155.592439,1
2,552.0,260.129580,17.080142,6.0,37.702499,121.0,126.0,10.0,100.0,661.00,...,142.0,53.0,276.418186,255.0,94.0,255.0,87.0,255.0,297.208570,0
3,462.0,154.266687,13.065361,11.0,26.586209,110.0,113.0,13.0,86.0,424.00,...,136.0,46.0,142.695173,197.0,66.0,255.0,72.0,232.0,152.859169,1
4,1079.0,481.984906,31.584453,113.0,48.516125,111.0,130.0,122.0,74.0,2542.20,...,117.0,40.0,418.419167,255.0,90.0,255.0,63.0,255.0,497.559394,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11611,355.0,317.835010,45.290593,13.0,35.757417,92.0,126.0,26.0,76.0,1825.85,...,104.0,44.0,328.373229,255.0,66.0,255.0,68.0,170.0,314.337677,4
11612,1716.7,150.446522,8.119284,13.0,25.395153,117.0,119.0,14.0,105.0,388.00,...,164.0,52.0,143.746925,192.0,102.0,255.0,90.0,255.0,167.829687,4
11613,1352.5,162.387326,12.815280,3.0,24.017875,91.0,123.0,4.0,56.0,303.00,...,83.0,29.0,169.150469,190.0,63.0,225.0,49.0,202.0,165.509539,4
11614,1710.5,134.444212,9.667852,16.0,23.216790,92.0,129.0,19.0,65.0,248.00,...,93.0,35.0,134.319549,161.0,49.0,194.0,57.0,163.0,147.448920,7
11615,1738.0,188.544086,13.113016,5.0,20.732647,103.0,125.0,8.0,73.0,453.00,...,104.0,39.0,172.146222,236.0,75.0,254.0,64.0,254.0,207.706538,3

In [ ]:
total_dataframe.to_csv('/content/drive/MyDrive/Colab Notebooks/total_dataset_to_SVM_KNN.csv', index= False)